@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html {

        font-size: 16px; /* 1rem  */

}

.container-header{

    max-width:1920px;
    margin: 0 auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: #2980B9;
    padding: 2.5rem;
}

body{
    margin: 0;
    background-color: #2471A3;
}

.container-main{

    width: 20%;
    max-width:1920px;
    margin: 0 auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;

}

.titulo-frase{
    
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 2rem;
    flex: 1 0 100%;
    

}

.frase-campeon {

    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1.4rem;
    flex: 1 0 100%;
}

.container-boton{
    flex: 1;
    gap: 1rem;
    display:flex;
    flex-flow: column wrap;
    
}

#boton-campeon, #boton-comparar{
   
    flex: 2 0;
    padding: 0.7rem; 
    outline: none;
    border-radius: 1rem;
    text-align: center;
    background-color: #1f618d;
    color:#072335;
    font-family: 'Comfortaa', cursive;
    cursor:pointer;

}


#boton-campeon:hover{

    background-color: #072335;
    color:white;
    transition: 0.5s;
}





.espaciado{

    margin:7.7rem;

}

.espaciadofooter{

    padding:8rem;
    background-color:#072335 ;

}

footer{
    background-color: #1f618d;
}

.container-footer{
    background-color: #1F618D;
    width: 20%;
    max-width:1920px;
    margin: 0 auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-bottom:1.5rem;
  
}

.footer-frase{

    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1.3rem;
    flex: 1 0 100%;
}

i{
   
    color:#072335;
    font-size: 2rem;

}

.redes-sociales{

    flex-grow: 1;
    text-align: center;

}

a {
    text-decoration: none;
    
}




